
body {
    width: 1280px;
    margin: 0 auto;
}

#header-container {
    position: relative;
    text-align: center;
    color: white;
  }

/* HEADER IMAGE */
#header-container {
    position: relative;
    text-align: center;
    color: white;
  }

  #header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 80px;
    line-height: 80px; /* Add this line */
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: #f5f5dc;
    text-align: center;
    opacity: 75%;
    color: black;
    font-size: 30px;
    border-radius: 10px;
}

#header-image {
    border-radius: 10px;
    width: 1280px;

  }

/* HEADER IMAGE */

/* NAVIGATION BAR */

    .nav {
    position: sticky;
    top: 0;
    height: 50px;
    background-color: #CCC; 
    list-style-type: none;
    text-align: center;
    margin-bottom: 10px;
    border: black 2px solid;
    border-radius: 10px;
    margin-top: 5px;

  }
  
  .nav li {
    display: inline-block;
    line-height: 50px;;
    width: 160px;
    height: 50px;
    text-align: center;
    background-color: #CCC;
    font-family: Arial;
    font-weight: bold;
    color: black;
    font-size: 1em;

  }



  .nav li:hover, .nav li:hover a {
    background-color: #A90331;
    color: white;
}

.nav li a {
    color: black;
    text-decoration: none;
}

/* NAVIGATION BAR */

/* main page template */

.page-container {
    width: 1280px;
    background-color: lightgray;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 2px;
    text-align: justify;
}

.page-title {
    font-style: italic;
    color: white;
    background-color: #A90331;
    font-family: Arial;
    font-size: 24px;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
    height: 50px;
    border-radius: 10px;

}

.page-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page-text {
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.page-text-other {
    font-size: 20px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}


/* main page template */

/* accueil */


.fast-links-accueil {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    list-style-type: none; /* Remove bullets */
}

.fast-links-accueil li a {
    color:#A90331;
    font-weight: bold;
    text-decoration: none;
}

.fast-links-accueil li a:hover {
    color:black;
}

/* accueil */


.accordion {
    background-color: lightgray;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .accordion::before {
    content: "\02795"; /* Unicode character for "plus" sign (+) */
    font-size: 23px;
    color: white;
    text-align: center;

    background-color: #A90331;
    float: right;
    margin-left: 5px;
}

.accordion.active::before {
    content: "\02796"; /* Unicode character for "minus" sign (-) */
}
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: gray;
    overflow: hidden;
  }

  .gallery {
    width: 90%;
    margin: 20px auto;
}

.gallery table {
    width: 100%;
}


.gallery img {
    width: 480px;
    height: 300px;
    border: 2px solid black;
}


.gallery figure {
    text-align: center;
}

.gallery figcaption {
    font-size: 18px;
}

.form-group {
    margin-bottom: 15px;
    text-align: center;
}

.form-group label {
    display: inline-block;
    height: 30px;
    width: 200px;
    text-align: right;
    margin-right: 10px;
}



.form-group input {
    display: inline-block;
    height: 30px;
    width: 400px;
}

.form-group textarea {
    display: inline-block;
    height: 80px;
    width: 400px;
}

.sent-button {
    margin: auto;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 50px;
    width: 300px;
    font-size: 20px;
    border-radius: 20px;
}

.city-table {
     margin: 20px auto;
    
}

.city-table tr td {
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}

.city-table tr td a {
    color: red;
}

.city-table tr td a:hover {
    color: gray;
}